@use "../../styles/variables" as var;
.detailedBookCard {
  border: 2px solid red;
  min-width: 30rem;
  height: 30rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;

  .detailedBookCard__topSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .detailedBookCard__midSection {
    position: relative;
    width: 100%;

    .detailedBookCard__midSectionAuthor {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        margin-bottom: var.$spacingSm;
      }

      a {
        img {
          cursor: zoom-in;
          aspect-ratio: 2 / 3;
          width: 100%;
          max-width: 180px;
          height: auto;
          object-fit: cover;
          background-color: var.$colorMuted;
        }
      }
      .detailedBookCard__readingStatus {
        margin-top: var.$spacingSm;
      }
      .BookCard__rating {
        margin-top: var.$spacingXs;
        display: flex;
        line-height: 0;
        gap: 0.05rem;

        button.star {
          background: none;
          border: none;
          padding: 0;
          cursor: pointer;
          color: gray;

          &.active {
            color: gold;
          }

          .star-icon {
            display: block; // 🟢 Ta bort eventuellt vertikalt glapp
            width: 100%;
            height: 100%;
          }

          &:focus {
            outline: 2px solid var.$colorAccent;
            outline-offset: 2px;
          }
        }
      }
    }
    .detailedBookCard__midSectionIndicators {
      position: absolute;
      top: 35px;
      right: 0;
      font-size: var.$fontSizeXl;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      p {
        font-size: var.$fontSizeSm;
      }
    }
  }
}
