@use "../../styles/variables" as var;
@use "../../styles/breakpoints" as *;
.detailedBookCard {
  border: 2px solid red;
  min-width: 30rem;
  height: 30rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;

  .detailedBookCard__midSection {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .bookCoverLink {
    }
  }

  @include respond-to(md) {
    min-width: 25rem;
    height: 25rem;
  }
  @include respond-to(sm) {
    min-width: 20rem;
    height: 20rem;
  }
}
body.modal-open {
  pointer-events: none;
}

.modalOverlay,
.modalContent {
  pointer-events: auto;
}
.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999; // Högsta prioritet
  display: flex;
  justify-content: center;
  align-items: center;
}
