// 🎨 Färgpalett
$colorPrimary: hsl(29 31% 28% / 1);
$colorBorder: hsl(29 47% 56% / 1);
$colorSecondary: hsl(28.42, 18.1%, 20.59%);
$colorAccent: hsl(29 100% 50%);
$colorBackground: #fdf8f1;
$colorSurface: #ffffff;
$colorText: hsl(29 70% 93% / 1);
$colorMuted: hsl(0, 0%, 76%);

// 📐 Spacing
$spacingXs: 0.25rem;
$spacingSm: 0.5rem;
$spacingSmToMdSmall: 0.6rem;
$spacingSmToMdMedium: 0.73rem;
$spacingSmToMdLarge: 0.77rem;
$spacingSmToMdXLarge: 0.9rem;
$spacingMd: 1rem;
$spacingLg: 2rem;
$spacingXl: 3rem;
$spacingXxl: 6rem;
$spacingXxxl: 7rem;
$spacingXxxxxl: 15rem;

// 🔠 Typografi
$font-family-base: "Georgia", serif;
$font-family-ui: "inter", sans-serif;

$fontSizeSm: 0.875rem;
$fontSizeBase: 1.2rem;
$fontSizeLg: 1.3rem;
$fontSizeXl: 1.75rem;
$fontSizeXxl: 2.5rem;

// 🧱 Border radius
$radiusSm: 4px;
$radiusMd: 8px;
$radiusLg: 16px;

// 🌫️ Skuggor
$shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
$shadow-md: 0 2px 4px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 4px 8px rgba(0, 0, 0, 0.15);

//SearchBarVariables
// 📐 Spacing
$searchBarWidth: $spacingMd * 20;
$searchBarHeight: 50px;

$searchBarPaddingLeftRight: $spacingMd;

// 🎨 Färgpalett
$searchBarBackgroundColor: hsl(0 1% 40%);
$searchBarBorderColor: 2px solid $colorAccent;

// 🔠 Typografi
$searchBarFontSize: $fontSizeBase;

// 🧱 Border radius
$searchBarRadius: $radiusSm;

// BookCardVariables
// 🎨 Färgpalett
$bookCardBorderColor: 2px solid $colorBorder;
$smallImageBorder: 1px solid $colorBorder;
