@use "../../../styles/variables" as var;
.detailedBookCard__topSection {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .editionYearInline {
    font-size: 1.2rem;
    font-weight: 600;

    em {
      font-style: italic;
      font-size: 0.9rem;
      margin-right: 0.3rem;
      color: var.$colorMuted;
    }
  }
}
