@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as var;
.BookCard__wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: var.$colorSecondary;
  min-width: var.$spacingXxxxxl;
  padding: 0 var.$spacingSm var.$spacingSm 0;

  border: var.$bookCardBorderColor;
  .BookCard {
    position: relative;
    @include mixins.cardContainerBase;
    .BookCard__imageWrapper {
      position: relative;
      max-width: 60px;
      max-height: 90px;
      &.is-placeholder::after {
        content: "";
        position: absolute;
        inset: 0; // täcker hela bilden
        background: rgba(0, 0, 0, 0.2); // mörk overlay
        pointer-events: none;
        border-radius: 2px; // matcha ev. bildens form
      }
    }
  }
  .BookCard__info {
    padding-left: var.$spacingSm;
  }
  .BookCard__extra {
  }
}
