@use "../../styles/variables" as var;
@use "../../styles/breakpoints" as *;

.resultsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var.$spacingMd;
  list-style-type: none;
  li {
  }

  @include respond-to(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: var.$spacingSm;
  }
  @include respond-to(sm) {
    grid-template-columns: repeat(1, 1fr);
    gap: var.$spacingSm;
  }
}
